$font-stack: 'Montserrat',
Arial,
Helvetica,
sans-serif;
$light-color: #f4f4f4;
$dark-color: rgb(59, 59, 59);
$accent-color: #747070;

* {
  font-size: 14px;
}

body {
  background: $light-color;
  color: $dark-color;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}

.data {
  width: 100%;
  margin: 0 20px;
}

h1 {
  text-align: center;
  font-size: 1.2rem;
  padding: 0 10px;
  margin: 10px 20px 5px 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

form {
  min-width: 250px;
  background: rgb(231, 231, 231);
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px rgb(206, 206, 206),
    -2px -2px 3px 0px white;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin: 5px 20px;
  font-size: 1.1rem;
  text-indent: 5px;
}

.formFooter {
  display: flex;
  justify-content: center;
  bottom: 0px;
}

.btn {
  display: block;
  width: 100%;
  background: $accent-color;
  color: white;
  font-size: 1.1rem;
  margin: 5px 20px 15px 20px;
  margin-bottom: 15px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 600;
  border: none;

  &:hover {
    background-color: lighten($accent-color, 5);
  }
}

.hidden {
  display: none;
}

.alert {
  display: flex;
  flex-direction: column;
  background: rgb(211, 35, 35);
  color: white;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 0;
}

.form-msg {
  text-align: center;
  font-size: 1.1rem;
  margin: 0 20px;
}
